<div class="skeleton-comment">
  <div class="skeleton-comment__header">
    <div class="skeleton-comment__avatar skeleton-shimmer"></div>
    <div class="skeleton-comment__meta">
      <div class="skeleton-comment__name skeleton-shimmer"></div>
      <div class="skeleton-comment__badge skeleton-shimmer"></div>
    </div>
    <div class="skeleton-comment__score skeleton-shimmer"></div>
  </div>
  <div class="skeleton-comment__body">
    <div class="skeleton-comment__line skeleton-shimmer" style="width: 100%"></div>
    <div class="skeleton-comment__line skeleton-shimmer" style="width: 85%"></div>
    <div class="skeleton-comment__line skeleton-shimmer" style="width: 60%"></div>
  </div>
</div>
