.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.logout-btn {
  --border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: none;
  width: 100%;
  max-width: 200px;
  margin-top: 2rem;
}
